---
layout: home
title: Filecoin Improvement Proposals
---

<pre>
I like to think
       (it has to be!)
   of a cybernetic ecology
   where we are free of our labors
   and joined back to nature,
   returned to our mammal
   brothers and sisters,
   and all watched over
   by machines of loving grace.  
</pre>

<ul>
<li>Read up on the process for <a href="proposing/">Proposing new FIPs</a></li>
<li>Jump to <a href="#fips">FIPs</a></li>
</ul>

{% capture readme_include %}{% include_relative README.md %}{% endcapture %}
{{ readme_include | markdownify }}

<a id="fips"></a>
{% include fiptable.html %}
